---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4

# Pointer / reference alignment: match existing `const Type &name` style
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: true

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  # Project headers
  - Regex: '^"ekf_vio/'
    Priority: 1
  - Regex: '^"'
    Priority: 2
  # Third-party headers
  - Regex: '^<(Eigen|sophus|spdlog|yaml-cpp)/'
    Priority: 3
  - Regex: '^<opencv2/'
    Priority: 4
  # ROS headers
  - Regex: '^<(rclcpp|sensor_msgs|nav_msgs|geometry_msgs|tf2_ros|cv_bridge|message_filters)/'
    Priority: 5
  # System / STL headers
  - Regex: '^<'
    Priority: 6

# Miscellaneous
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20
